.lottoCard {
  display: flex;
  background-color: rgb(249, 249, 249);
  margin-bottom: 20px;
  width: auto;
}

.cardDetails {
  width: auto;
}

.cardContents {
  padding: 12px;
}

.lottoIcon {
  height: auto;
  width: 70px;
}